<h1>The Blog!</h1>
<p class="lead">A nice blog</p>

<h3> 
  <%= link "New Post!", to: post_path(@conn, :new), class: "btn btn-primary" %>
</h3>

<%= for post <- @posts do %>
  <div class="row">
    <div class="col-sm-6">
      <h3> <%= link post.title, to: post_path(@conn, :show, post) %> </h3>
      <%= post.inserted_at %>
      <p>
        <%= MyString.truncate(post.text, 20) %>
      </p>
    </div>
  </div>
<% end %>
